<% if @payment_method.errors.any? %>
  <div>
    <p>Erro ao Salvar</p>
  </div>
<% end %>

<div class="container">
  <%= form_with model: @payment_method do |f| %>
    <div class="row mb-2">
      <div class="col-3 font-weight-bold"><%= f.label :name, 'Nome' %></div>
      <div class="col-3"><%= f.text_field :name, class: "form-control" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3 font-weight-bold"><%= f.label :max_installments, 'Número Máximo de Parcelas' %></div>
      <div class="col-3"><%= f.number_field :max_installments, class: "form-control" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3 font-weight-bold"><%= f.label :code, 'Código' %></div>
      <div class="col-3"><%= f.text_field :code, class: "form-control" %></div>
    </div> 
    <div class="row mb-2"><%= f.submit 'Salvar', :class => "btn btn-success" %></div>  
  <% end %>
</div> 
